.about {
  &__text {
    margin: 1.875rem auto 2.5rem;
    max-width: 70ch;
    text-align: center;
    p {
      font-size: 1.125rem;
      margin: 1.25rem 0;
    }

    a {
      margin: 0;
    }
  }

  .skills {
    margin: 1.875rem auto;
    max-width: 50ch;

    @include breakpoint-up(medium) {
      margin: 1.875rem auto;
    }
  }

  .skilltag {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    margin: 0.25rem 0.1875rem;
    border-radius: 1.25rem;
    color: $white;

    background-color: $dark-blue;

    &:nth-child(2n) {
      background: $purple;
    }

    &:nth-child(3n) {
      background: $dark-purple;
    }

    p {
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
