.contact {
  &__content {
  }
  form {
    margin: auto;
    max-width: 40ch;

    @include breakpoint-up(medium) {
      width: 80%;
    }
  }
  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;

    margin-top: 1.25rem;

    input,
    textarea {
      display: inline-block;
      border: 0.1875rem solid $dark-purple;
      border-radius: 0.3125rem;
      font-family: "Raleway", sans-serif;
      font-size: 1rem;
      padding: 0.3125rem;

      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      -appearance: none;

      outline: none;

      &:focus,
      &:active {
        border: 0.1875rem solid $dark-blue;
      }
    }

    label {
      padding: 0.3125rem;
      font-size: 1.125rem;
    }
  }

  input[type="submit"] {
    font-family: "Raleway", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    background: $gradient;
    border-radius: 2.5rem;
    border: none;
    padding: 0.625rem 1.25rem;
    margin: 1.875rem;
    cursor: pointer;

    color: $white;
    white-space: nowrap;

    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
