html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.3;
  color: $black;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $white;
  transition: all 300ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.link {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 40px;
  border: none;
  padding: 10px;
  margin-right: 10px;

  color: $dark-purple;
  white-space: nowrap;

  &:hover {
    //transform: none;
    font-weight: 800;
  }
}

section {
  scroll-margin-top: 120px;
}

.section_wrapper {
  margin: 150px 30px;

  @include breakpoint-up(medium) {
    margin: 100px 70px;
  }

  @include breakpoint-up(large) {
    margin: 150px 140px;
  }

  text-align: center;
}

.section_title {
  display: inline-block;

  &::after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background: $gradient2;
    margin-top: 10px;
  }
}

.profiles {
  padding: 30px 0;

  a img {
    width: 60px;
    height: 60px;
    margin: 5px;
    padding: 5px;
    transition: all 300ms ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    @include breakpoint-up(medium) {
      width: 70px;
      height: 70px;
      margin: 7px;
    }
  }
}
