.header {
  position: sticky;
  top: 0;
  background: transparent;
  z-index: 2;

  &.active {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }

    .header__nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      padding: 20px;

      background: $dark-purple;

      a {
        padding: 10px;
      }
    }

    .header__background {
      height: 185px;
      background: $gradient2;
    }
  }

  &__background {
    width: 100%;
    height: 70px;
    background: $gradient2;
    animation: all 500ms ease-in-out;
  }

  &__toggle {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 3;

    padding: 20px;

    > span {
      display: block;
      width: 30px;
      height: 3px;

      border-radius: 15px;
      background-color: $white;
      transition: all 500ms ease-in-out;
      transform-origin: 3.5px 1.5px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    @include breakpoint-up(medium) {
      display: none;
    }
  }

  &__nav {
    display: none;
    position: absolute;

    a {
      font-size: 1.375rem;
      font-weight: 600;
      padding: 10px;
    }

    @include breakpoint-up(medium) {
      display: flex;
      justify-content: space-around;
      align-items: center;

      width: 100%;
      padding: 10px;
    }
  }
}
