.project-card {
  position: relative;
  border: $card-border-width solid transparent;
  border-radius: 16px;
  background: $white;
  background-clip: padding-box;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: -$card-border-width;
    bottom: -$card-border-width;
    left: -$card-border-width;
    right: -$card-border-width;
    background: $gradient;

    z-index: -1;
    border-radius: 16px;
  }
}

.card-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include breakpoint-up(large) {
    justify-content: start;
  }
}

.featured-projects {
  &-card {
    padding: 30px;
    margin: 40px 10px;

    @include breakpoint-down(medium) {
      flex-direction: column;
    }

    .card-content {
      h3 {
        margin-top: 30px;
      }

      p {
        margin-top: 10px;
        max-width: 60ch;
      }

      @include breakpoint-up(large) {
        order: 1;
        text-align: left;
        h3 {
          margin: 0;
        }
      }
    }

    .card-image {
      width: 90%;
      box-shadow: 10px 10px 6px 1px rgba($dark-purple, 0.3);
      border-radius: 10px;

      @include breakpoint-up(medium) {
        width: 60%;
      }

      @include breakpoint-up(large) {
        order: 2;
        height: 90%;
        margin-left: 30px;
        max-width: 350px;
      }
    }
  }
}

.other-projects {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  @include breakpoint-down(small) {
    flex-direction: column;
  }

  &-card {
    flex-direction: column;
    padding: 10px 15px;
    margin: 30px 5px 0;

    p {
      margin-top: 5px;
    }

    @include breakpoint-up(medium) {
      width: 47%;
    }

    @include breakpoint-up(large) {
      width: 30%;
      padding: 10px 20px;
    }
  }
}
