$card-border-width: 7px;

.project-card {
  position: relative;
  border: $card-border-width solid transparent;
  border-radius: 16px;
  padding: 20px;
  margin: 40px 10px;
  background: $white;
  background-clip: padding-box;

  &::before {
    content: "";
    position: absolute;
    top: -$card-border-width;
    bottom: -$card-border-width;
    left: -$card-border-width;
    right: -$card-border-width;
    background: $gradient;

    z-index: -1;
    border-radius: 16px;
  }

  h3 {
    margin-top: 30px;
  }

  p {
    margin-top: 10px;
  }
}

.card-image {
  // width: 300px;
  // height: 300px;

  //max-width: 10em;
  width: 90%;
  box-shadow: 10px 10px 6px 1px rgba($dark-purple, 0.3);
  border-radius: 10px;
}
