$card-border-width: 7px;

.project-card {
  position: relative;
  border: $card-border-width solid transparent;
  border-radius: 16px;
  padding: 20px;
  background: $white;
  background-clip: padding-box;
  //box-shadow: 0 3px 9px black, inset 0 0 9px white;
  // border-style: solid;
  // border-width: 6px;
  // border-radius: 10px;
  //border-color: $purple;
  //border-image: $gradient 1;

  &::before {
    content: "";
    position: absolute;
    top: -$card-border-width;
    bottom: -$card-border-width;
    left: -$card-border-width;
    right: -$card-border-width;
    background: $gradient;

    z-index: -1;
    border-radius: 16px;
  }
}
