// COLORS

$dark-blue: #0500f5;
$dark-purple: #6922ff;
$purple: #a52dff;
$pink: #e91e63;
$black: #222;
$white: #fff;

$gradient: linear-gradient(to bottom right, $purple, $dark-purple, $dark-blue);
$gradient2: linear-gradient(to right, $purple, $dark-purple, $dark-blue);

// SIZES

$stroke-height: 3em;
$stroke-width: $stroke-height * 3.74;

$card-border-width: 7px;
