// COLORS

$dark-blue: #0500f5;
$dark-purple: #6922ff;
$purple: #a52dff;
$black: #222;
$white: #fff;

$gradient: linear-gradient(to bottom right, $purple, $dark-purple, $dark-blue);

// SIZES

//font sizes

$stroke-height: 3em;
$stroke-width: $stroke-height * 3.74;
