// COLORS

$dark-blue: #0500f5;
$dark-purple: #6922ff;
$purple: #a52dff;
$black: #222;
$white: #fff;

$gradient: linear-gradient(to bottom right, $purple, $dark-purple, $dark-blue);

// SIZES

//font sizes

$h1-size: 2.5rem;

// @include breakpoint-up(medium) {
//   $h1-size: 3.5rem;
// }

// stroke svg size
$stroke-height: $h1-size + 3.5rem;
$stroke-width: $stroke-height * 3.74;
